.box4 {
    width: 200px;
    height: 200px;
    background: tomato;
}

.box1 {width: 200px;
    height: 200px;
    background: sienna;
}

.box3 {width: 200px;
    height: 200px;
    background: silver;
}

.box2 {width: 200px;
    height: 200px;
    background: red;
}